<a href="https://colab.research.google.com/github/Felipanjos/a3_ia_2022.2/blob/main/Projeto_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from math import ceil, floor
import random
import string

In [3]:
df = pd.read_csv('imdb_top_1000.csv')

In [5]:
df = df[['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating', 'Meta_score', 'Director', 'No_of_Votes', 'Gross']]
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469"
1,The Godfather,1972,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411"
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444"
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000"
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,166544,NaN
996,Giant,1956,201 min,"Drama, Western",7.6,84.0,George Stevens,34075,NaN
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,43374,"30,500,000"
998,Lifeboat,1944,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,26471,NaN
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,51853,NaN

Selecionando 10% Colunas

In [6]:
qtd_colunas = len(df.columns)
qtd_colunas

9

In [7]:
p_colunas = round(qtd_colunas * 10 / 100)
p_colunas

1

No dataset utilizado existem somente 9 colunas, dessa forma:

*    10% de 9 = 0.9
*    Aproximando para 1, fica somente uma coluna a ser selecionada como referÃªncia para a modificaÃ§Ã£o dos dados

In [37]:
coluna_aleatoria = df.sample(n=p_colunas, axis='columns').keys()[0]
coluna_aleatoria

'Gross'

### Selecionando 3% dos dados

In [15]:
p_3 = int(df.shape[0] * 3 / 100)
p_3

30

Excluindo Registros

In [38]:
reg_nulos = df[df[coluna_aleatoria].isnull()]
reg_nulos

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
18,Hamilton,2020,160 min,"Biography, Drama, History",8.6,90.0,Thomas Kail,55291,NaN
20,Soorarai Pottru,2020,153 min,Drama,8.6,NaN,Sudha Kongara,54995,NaN
30,Seppuku,1962,133 min,"Action, Drama, Mystery",8.6,85.0,Masaki Kobayashi,42004,NaN
32,It's a Wonderful Life,1946,130 min,"Drama, Family, Fantasy",8.6,89.0,Frank Capra,405801,NaN
46,Hotaru no haka,1988,89 min,"Animation, Drama, War",8.5,94.0,Isao Takahata,235231,NaN
...,...,...,...,...,...,...,...,...,...
993,Blowup,1966,111 min,"Drama, Mystery, Thriller",7.6,82.0,Michelangelo Antonioni,56513,NaN
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,166544,NaN
996,Giant,1956,201 min,"Drama, Western",7.6,84.0,George Stevens,34075,NaN
998,Lifeboat,1944,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,26471,NaN
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,51853,NaN

In [39]:
qtd_reg_nulos = reg_nulos.shape[0]

In [40]:
qtd_reg_nulos

169

In [ ]:
if(qtd_reg_nulos < p_3):
  qtd_sel = p_3 - qtd_reg_nulos 
  reg_excluidos = df.sample(n=qtd_sel)
  reg_exc_index = reg_excluidos.index.array
  df.loc[reg_exc_index, coluna_aleatoria] = np.nan

Alterando Registros

In [ ]:
def gerar_string_aleatoria():
  letters = string.ascii_lowercase
  return ''.join(random.choice(letters) for i in range(10))

In [ ]:
df_selecao_nao_nulo = df[~df[coluna_aleatoria].isnull()]

In [ ]:
reg_alterados = df_selecao_nao_nulo.sample(n=p_3)

In [ ]:
reg_alter_index = reg_alterados.index.array

In [ ]:
reg_alter_index

<PandasArray>
[729, 686,  40, 796, 784, 304, 436, 974, 853, 873,  35, 311, 537, 545, 604,
  86, 482, 820,  23, 312, 611, 957, 509,  51, 348, 622, 835, 531, 973, 457]
Length: 30, dtype: int64

In [ ]:
df['No_of_Votes']

0      2343110
1      1620367
2      2303232
3      1129952
4       689845
        ...
995     166544
996      34075
997      43374
998      26471
999      51853
Name: No_of_Votes, Length: 1000, dtype: int64

In [41]:
tipo_coluna = type(df['No_of_Votes'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Meta_score     843 non-null    float64
 6   Director       1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          831 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 70.4+ KB

In [ ]:
tipo_coluna

pandas.core.series.Series

In [ ]:
for index in reg_alter_index:
  df.loc[index, coluna_aleatoria] =

In [ ]:
df.loc[reg_exc_index, coluna_aleatoria] = map()