<a href="https://colab.research.google.com/github/Felipanjos/a3_ia_2022.2/blob/main/Projeto_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### D. Preparação dos dados

In [403]:
import pandas as pd
import numpy as np
import random
import string
from itertools import groupby

In [404]:
df = pd.read_csv('imdb_top_1000.csv')
df = df[['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating', 'Meta_score', 'Director', 'No_of_Votes', 'Gross']] # selecinando 9 colunas

##### a) Selecionando 10% das colunas

No dataset utilizado existem somente 9 colunas, dessa forma:

*    10% de 9 = 0.9
*    Aproximando para 1, fica somente uma coluna a ser selecionada como referência para a modificação dos dados

In [405]:
qtd_colunas = len(df.columns)
p_colunas = round(qtd_colunas * 10 / 100)
# coluna_aleatoria = df.sample(n=p_colunas, axis='columns').keys()[0]
coluna_aleatoria = 'IMDB_Rating'
colunas_numericas = df.describe().columns
colunas_categoricas = df.describe(exclude=np.number).columns
coluna_aleatoria # escolhendo uma coluna aleatoriamente

'IMDB_Rating'

##### a) Selecionando 3% dos dados

In [406]:
df.shape[0]

1000

In [407]:
p_3 = int(df.shape[0] * 3 / 100)
p_3 # 3% de 1000 é igual a 30

30

##### a) Excluindo 3% dos dados aleatoriamente

In [408]:
reg_nulos = df[df[coluna_aleatoria].isnull()]
qtd_reg_nulos = reg_nulos.shape[0]
reg_excluidos = df.sample(n=p_3)
reg_exc_index = reg_excluidos.index.array
df.loc[reg_exc_index, coluna_aleatoria] = np.nan

##### a) Alterando 3% dos dados aleatoriamente

In [409]:
def gerar_string_aleatoria():
  letters = string.ascii_lowercase
  return ''.join(random.choice(letters) for i in range(10)) 

def gerar_numero_aleatorio():
  return random.randint(0, 999)

In [410]:
df_selecao_nao_nulo = df[~df[coluna_aleatoria].isnull()]
reg_alterados = df_selecao_nao_nulo.sample(n=p_3)
reg_alter_index = reg_alterados.index.array

In [411]:
if coluna_aleatoria in colunas_numericas:
    for index in reg_alter_index:
        df.loc[[index],[coluna_aleatoria]] = gerar_numero_aleatorio()
else:
    for index in reg_alter_index:
        df.loc[[index],[coluna_aleatoria]] = gerar_string_aleatoria()

#### b) Limpeza dos dados

i. Codificação One-Hot

In [412]:
lista_generos = []

for item in df['Genre'].unique():
    lista_generos.extend(item.split(', '))
lista_generos = np.unique(np.array(lista_generos))
lista_generos # obtendo todas as categorias da coluna 'Genre'

array(['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
       'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror',
       'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport',
       'Thriller', 'War', 'Western'], dtype='<U9')

In [413]:
for col in lista_generos:
    df[col] = 1 if col in str(df['Genre']) else 0
# preenchendo as novas colunas

In [414]:
df = df.drop('Genre', axis=1)
df #coluna 'Genre' removida e aplicação da Codificação One-hot

,Series_Title,Released_Year,Runtime,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross,Action,Adventure,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,The Shawshank Redemption,1994,142 min,9.3,80.0,Frank Darabont,2343110,"28,341,469",1,0,...,0,0,0,1,1,0,0,1,1,1
1,The Godfather,1972,175 min,9.2,100.0,Francis Ford Coppola,1620367,"134,966,411",1,0,...,0,0,0,1,1,0,0,1,1,1
2,The Dark Knight,2008,152 min,9.0,84.0,Christopher Nolan,2303232,"534,858,444",1,0,...,0,0,0,1,1,0,0,1,1,1
3,The Godfather: Part II,1974,202 min,9.0,90.0,Francis Ford Coppola,1129952,"57,300,000",1,0,...,0,0,0,1,1,0,0,1,1,1
4,12 Angry Men,1957,96 min,NaN,96.0,Sidney Lumet,689845,"4,360,000",1,0,...,0,0,0,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,7.6,76.0,Blake Edwards,166544,NaN,1,0,...,0,0,0,1,1,0,0,1,1,1
996,Giant,1956,201 min,7.6,84.0,George Stevens,34075,NaN,1,0,...,0,0,0,1,1,0,0,1,1,1
997,From Here to Eternity,1953,118 min,7.6,85.0,Fred Zinnemann,43374,"30,500,000",1,0,...,0,0,0,1,1,0,0,1,1,1
998,Lifeboat,1944,97 min,7.6,78.0,Alfred Hitchcock,26471,NaN,1,0,...,0,0,0,1,1,0,0,1,1,1
999,The 39 Steps,1935,86 min,7.6,93.0,Alfred Hitchcock,51853,NaN,1,0,...,0,0,0,1,1,0,0,1,1,1

ii. Dados numéricos ausentes - Atribuição da mediana geral

In [415]:
df.info()
# somente as colunas 'Gross', 'Meta_score' e a escolhida aleatoriamente possuem valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   IMDB_Rating    970 non-null    float64
 4   Meta_score     843 non-null    float64
 5   Director       1000 non-null   object
 6   No_of_Votes    1000 non-null   int64
 7   Gross          831 non-null    object
 8   Action         1000 non-null   int64
 9   Adventure      1000 non-null   int64
 10  Animation      1000 non-null   int64
 11  Biography      1000 non-null   int64
 12  Comedy         1000 non-null   int64
 13  Crime          1000 non-null   int64
 14  Drama          1000 non-null   int64
 15  Family         1000 non-null   int64
 16  Fantasy        1000 non-null   int64
 17  Film-Noir      1000 non-null   int64
 18  History        1000 non-null   int64
 19  Horror         1000 non-null   int64
 20  Music          1000 non-null   int64
 21  Musical        1000 non-null   int64
 22  Mystery        1000 non-null   int64
 23  Romance        1000 non-null   int64
 24  Sci-Fi         1000 non-null   int64
 25  Sport          1000 non-null   int64
 26  Thriller       1000 non-null   int64
 27  War            1000 non-null   int64
 28  Western        1000 non-null   int64
dtypes: float64(2), int64(22), object(5)
memory usage: 226.7+ KB

In [416]:
# ajuste pra formato de float e typecast
df['Gross'] = df['Gross'].str.replace(',', '')
df['Gross'] = df['Gross'].astype(float)

In [417]:
df.describe(exclude=np.number)

       Series_Title Released_Year  Runtime          Director
count          1000          1000     1000              1000
unique          999           100      140               548
top        Drishyam          2014  100 min  Alfred Hitchcock
freq              2            32       23                14

In [418]:

colunas_com_null = {
    'Meta_score': {
        'index_nulos': df[df['Meta_score'].isnull()].index.to_list(),
        'mean': round(df.describe()['Meta_score']['mean'], 2)
    }, 
    'Gross': {
        'index_nulos': df[df['Gross'].isnull()].index.to_list(),
        'mean': round(df.describe()['Gross']['mean'], 2)
    }
}

In [430]:
if (coluna_aleatoria in colunas_numericas):
    colunas_com_null[coluna_aleatoria] = {
        'index_nulos': df[df[coluna_aleatoria].isnull()].index.to_list(),
        'mean': round(df.describe()[coluna_aleatoria]['mean'], 2)
    }
    
for coluna in colunas_com_null:
    for index in colunas_com_null[coluna]['index_nulos']:
        df[coluna][index] = colunas_com_null[coluna]['mean']

C:\Users\anjos\AppData\Local\Temp\ipykernel_13848\702461792.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coluna][index] = colunas_com_null[coluna]['mean']

In [431]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   IMDB_Rating    1000 non-null   float64
 4   Meta_score     1000 non-null   float64
 5   Director       1000 non-null   object
 6   No_of_Votes    1000 non-null   int64
 7   Gross          1000 non-null   float64
 8   Action         1000 non-null   int64
 9   Adventure      1000 non-null   int64
 10  Animation      1000 non-null   int64
 11  Biography      1000 non-null   int64
 12  Comedy         1000 non-null   int64
 13  Crime          1000 non-null   int64
 14  Drama          1000 non-null   int64
 15  Family         1000 non-null   int64
 16  Fantasy        1000 non-null   int64
 17  Film-Noir      1000 non-null   int64
 18  History        1000 non-null   int64
 19  Horror         1000 non-null   int64
 20  Music          1000 non-null   int64
 21  Musical        1000 non-null   int64
 22  Mystery        1000 non-null   int64
 23  Romance        1000 non-null   int64
 24  Sci-Fi         1000 non-null   int64
 25  Sport          1000 non-null   int64
 26  Thriller       1000 non-null   int64
 27  War            1000 non-null   int64
 28  Western        1000 non-null   int64
dtypes: float64(3), int64(22), object(4)
memory usage: 226.7+ KB

A atribuição da mediana geral foi utilizada para lidar com os valores nulos das colunas em que existiam, pelos seguintes motivos:

*   Número relativamente pequeno de linhas (1000), o que ocasionaria numa maior escassez de dados caso as linhas com valores nulos fossem removidas
*   Número pequeno de colunas, logo a remoção completa de cada coluna em que houvesse valor nulo acarretaria na perda desnecessária de informações
*   Facilidade na implementação em comparação com o treinamento de predição e atribuição
*   Coesão com o dataset, visto que logo no primeiro quartil a coluna 'Meta_score' apresenta valor próximo à média

Após implementação da correção, o dataset não conta mais com valores nulos.

In [422]:
df.isnull().values.any()

True